@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/* font-family: 'Roboto', sans-serif; */

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 1.2rem;

}

header,
#top-menu {
  position: relative;
  height:40%;
  background-color: black;
}

h1, #title{
  padding-top:63px;
}

#sub-menu {
  position: relative;
  top: 100%;
  display: none;
}

#sub-menu.active {
  display: block;
}
#sub-menu a:hover {
  background-color: var(--top-menu-bg);
}

#sub-menu {
  width: 100%;
  z-index: 10;
  transition: top 0.5s ease-out;
}


nav a.active {
  background-color:grey;
  color: black;
}


nav a {
  line-height: 10rem;
  padding: 2px 6rem;
  padding-left:150px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#main {
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
gap: 2rem;
}

fieldset{
border: dotted;
background-color: linear-gradient(to left top gray, purple);
}


legend{
text-align: center;
padding: 1rem;
font-weight: bold;
}

.tribute-list{
width: 100%;
margin: 0 auto;
}

.tribute-list li{
display: flex;
justify-content: space-between;
gap: 2rem;
padding: 0.5rem;
}

.tribute-list li .year {
font-weight: bolder;
}

#img-div {
margin: 0 auto;
width: 50vw;
display: flex;
flex-direction: column;
align-items: center;
}

#image{
height: auto;
margin: 0 auto;
display: flex;
max-width: 100%;
}

.description{
width: 800px;
text-align: left;
}

.divider {
border-bottom: 0.5px solid #ccc;
}

footer {
text-align: center;
padding: 2rem;
}

#tribute-link{
font-weight: bold;
}

.infoMaya {
padding:10px 20px;
background-color:purple;
color: white;
font-size: 24px;
border-radius:10px ;
}

a{
    color: white;
}

a :hover button{
    background-color: white;
}

form{
    height:200px;
    background-color:blueviolet;
    padding: 10px 0px 10px;
    border-radius:10px 10px ;
   
}
input #checkbox{
    width:100px;
    height:100px;
    background-color: aquamarine;

}
